.u-center-text {
  //simple goal to center text - reusable class
  text-align: center !important;
  //inline block element treated as text and centered within the parenet
}

.u-margin-btm-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-btm-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-btm-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}
